.header {
    background-color: var(--header-bg);
    padding: 16px;
}

.header_home {
    border-bottom: 1px solid var(--grey-2);
}

.header__inner {
    display: flex;
    justify-content: center;
}

.header_ghost-white {
    background-color: var(--header-ghost-white-bg);
}

.header__tittle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    color: var(--grey-4);
    font-size: 28px;
    line-height: 38px;
    padding: 48px 0 53px;
}


@media (min-width: 768px) {
    .header {
        padding: 24px;
    }

    .header__inner {
        justify-content: flex-start;
    }

    .header__tittle {
        font-weight: 500;
        font-size: 50px;
        line-height: 64px;
        color: var(--black);
        padding: 38px 0 61px;
    }
}