.header {
    background-color: var(--header-bg);
    padding: 16px 16px 69px;
}

.header__inner {
    display: flex;
    justify-content: center;
    margin-bottom: 48px;
}

.header_ghost-white {
    background-color: var(--header-ghost-white-bg);
}

.header__tittle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    color: var(--grey-4);
    font-size: 28px;
    line-height: 38px;
}


@media (min-width: 768px) {
    .header {
        padding: 24px 160px 77px;
    }

    .header__inner {
        justify-content: flex-start;
        margin-bottom: 38px;
    }

    .header__tittle {
        font-weight: 500;
        font-size: 50px;
        line-height: 64px;
        color: var(--black);
    }
}