/* Стилизация кнопки */
.button {
    border-width: 0;
    color: var(--white);
    border-radius: 8px;
    cursor: pointer;
    height: 48px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    padding: 15px 66px 14px;

}

.button:disabled {
    pointer-events: none;
    opacity: 0.5;

}

.button_primary {
    background-color: var(--primary);
}

.button_primary:not(.button:disabled):hover {
    background-color: var(--primary_hover);
}

.button_secondary {
    background-color: var(--secondary);
}

.button_secondary:not(.button:disabled):hover {
    background-color: var(--secondary-hover);
}

.button_alternate {
    background-color: var(--alternate);
    color: var(--alternate_text-color);
    border: 1px var(--grey-3) solid;
}

.button_alternate:not(.button:disabled):hover {
    border: 1px var(--black) solid;
}
