.card {
    width: 350px;
    border-radius: 12px;
    background: var(--white);
    box-shadow: var(--card_box_shadow);
    padding: 80px 24px 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 75px;
}

.card__preview {
    min-height: 157px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.card__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    color: var(--black);
}

