.card {
    width: 164px;
    height: 210px;
    border-radius: 8px;
    background: var(--white);
    box-shadow: var(--card_box_shadow);
    padding-bottom: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.card__preview {
    min-height: 89px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--grey-2);
    flex-grow: 1;
}

.card__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: var(--black);
}

@media (min-width: 768px) {
    .card {
        width: 350px;
        height: 367px;
        padding: 80px 24px 30px;
        border-radius: 12px;
        gap: 75px;
    }

    .card__preview {
        min-height: 157px;
        align-items: flex-end;
        border-bottom: none;
    }

    .card__title {
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 21px;
        line-height: 25px;
        color: var(--black);
    }
}

