/* Стилизация аккордеона */
.accordion {
    width: 730px;
    border-radius: 8px;
    border: 1px var(--grey-3) solid;
    display: flex;
    flex-direction: column;
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
}

.accordion[open] .accordion__summary {
    padding-bottom: 16px;
}

.accordion__summary {
    color: var(--black);
    list-style: none;
    cursor: pointer;
    padding: 24px 32px;
}

.accordion__item {
    margin-bottom: 8px;
    padding: 0 32px;
    color: var(--grey-4)
}

.accordion__item:last-child {
    margin-bottom: 0;
    padding-bottom: 32px;
}