.componentsPage {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto;
    height: 100%;
}

.componentsPage__header {
    height: 82px;
    padding: 0;
}

.componentsPage__preview {
    padding: 36px 0 0;
}

.componentsPage__inner {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 56px;
    height: 100%;
}

.componentsPage__nav {
    width: 229px;
}

.componentsPage__footer {
    padding: 92px 0 56px;
    display: grid;
    justify-content: center;
    font-family: Inter;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 4%;
    text-transform: uppercase;
    color: var(--grey-3);
}
