.componentBlock {
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: var(--white);
    padding: 32px 48px;
}

.componentBlock__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
    color: var(--grey-4)
}