.componentBlock {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--white);
    padding: 32px 16px;
}

.componentBlock__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: var(--grey-4)
}

@media (min-width: 768px) {
    .componentBlock {
        padding: 32px 48px;
        gap: 24px;
    }

    .componentBlock__title {
        font-size: 28px;
        line-height: 38px;
    }
}