.histogram {
    padding: 16px 24px 24px;
    box-sizing: border-box;
    background: var(--white);
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.histogram__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
}

.histogram__orders {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.histogram__description {
    opacity: 0.8;
}

.histogram__count {
    font-size: 20px;
    line-height: 26px;
}

.histogram__all {
    text-align: right;
    color: var(--blue-1);
}

.histogram__main {
    height: 50px;
    display: flex;
    gap: 1px;
    align-items: flex-end;
}

.histogram__column {
    background-color: var(--blue-1);
    min-width: 9px;
    flex-grow: 1;
}

