.avatar {
    width: 116px;
    height: 116px;

    @media (min-width: 768px) {
        width: 102px;
        height: 102px;
    }
}

.avatar__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}