@import '../fonts/fonts.css';
@import '../css/reset.css';
@import '/components/page/page.css';
@import '/components/footer/footer.css';
@import '/components/header/header.css';
@import '/components/preview/preview.css';
@import '/components/container/container.css';
@import '/03-lection1/02-accordion/accordion.css';
@import '/components/card/card.css';

:root {
    --white: #ffffff;
    --black: #212429;
    --pink: #F784AD;
    --purple-1: #7048E8;
    --purple-2: #5028C6;
    --blue-1: #4263EB;
    --blue-2: #2342C0;
    --blue-3: #334D6E;
    --blue-4: #A0B1F533;
    --red: #F03D3E;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;
    --grey-5: #90A0B7;

    --card_box_shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);

    --error: var(--red);
    --success: var(--blue-1);

    --primary: var(--blue-1);
    --primary_hover: var(--blue-2);
    --secondary: var(--purple-1);
    --secondary-hover: var(--purple-2);
    --alternate: var(--white);

    --alternate_text-color: var(--grey-4);
}

* {
    font-family: 'Roboto', sans-serif;
}
