.calendar {
    border: 1px solid grey;
    border-radius: 8px;
    padding: 28px 36px;
    width: 100%;
    max-width: 300px;
}

.calendar__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #334d6e;
    text-align: center;
    margin-bottom: 20px;
}

.calendar__wrapper {
    
}