.calendar {
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    padding: 28px 36px;
    width: 100%;
    max-width: 300px;
}

.calendar__title {
    font-family: 'Inter';
     font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: var(--blue-3);
    text-align: center;
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.calendar__wrapper {
    padding-bottom: 100%;
    position: relative;
}

.calendar__inner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
}

.calendar__item {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: var(--blue-3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar__item_day {
    color: var(--grey-5);
    font-family: 'Inter';
    font-size: 14px;
    display: flex;
    align-items: flex-end;
    text-align: center;
}

.calendar__item_boundary {
    background-color: var(--blue-1);
    color: var(--white);
}

.calendar__item_range {
    background-color: var(--blue-4);
}