.calendar {
    border: 1px solid grey;
    border-radius: 8px;
    padding: 28px 36px;
    width: 100%;
    max-width: 300px;
}

.calendar__title {
    font-family: 'Inter';
     font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #334d6e;
    text-align: center;
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.calendar__wrapper {
    padding-bottom: 100%;
    position: relative;
}

.calendar__inner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    justify-items: center;
    align-items: center;
}

.calendar__item {
    font-family: 'Inter';
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.calendar__item_day {
    color: #90a0b7
}