.tooltip {
    display: inline-block;
    position: relative;
}   

.tooltip__bubble {
    display: none;
    width: 129px;
    position: absolute;
    bottom: calc(100% + 13px);
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #DDE2E5;
    padding: 13px 21px 8px;
    background: var(--blue-1);
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 10px;
}

.tooltip__bubble:before {
    content: "";
    border: 10px solid transparent;
    border-top: 10px solid var(--blue-1);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.tooltip__trigger:hover ~ .tooltip__bubble {
    display: block;
}