.footer {
    background-color: var(--footer-bg);
    padding: 72px 0 136px;
    font-family: Inter, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.footer__title {
    font-weight: 500;
    font-size: 38px;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
}

.footer__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    max-width: 640px;
}

.footer_ghost-white {
    background-color: var(--footer-ghost-white-bg);
}

.footer__subtitle {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--grey-3);
}
