.nav {
    width: 229px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
}

.nav__title {
    font-size: 20px;
    line-height: 26px;
    color: var(--black-2);
}

.nav__menu {
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    gap: 4px;
}

.nav_menu-item {
    height: 22px;
    font-size: 14px;
    line-height: 22px;
    color: var(--black);
}

.nav__menu-item_active {
    color: var(--red-2)
}