.preview {
    background-color: var(--white);
    padding: 24px 16px 61px 15px;
}

.preview__inner {
    display: flex;
    flex-wrap: wrap;
    gap: 23px 16px;
}

.preview__inner-components {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 56px;
}

.preview__components {
    padding: 0;
}

@media (min-width: 768px) {
   .preview {
        padding: 68px 24px;
        background-color: var(--ghost-white);
    }

    .preview__inner {
        gap: 30px;
    }

    .preview__components {
        padding: 36px 0 0;
    }
}
