.preview {
    background-color: var(--ghost-white);
    padding: 68px 0;
}

.preview__inner {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.preview__inner-components {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 56px;
}

.preview__components {
    padding: 36px 0 0;
}
